body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1DB79D;
}


.navbar-toggle {
  overflow: hidden;

  .icon-bar {
    transition: opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
  }

  &:not(.collapsed) {
    .icon-bar {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
